@import "../../mixins.scss";

.GeckoUITooltip__trigger {
  @apply inline-flex h-fit w-fit cursor-pointer;
}

.GeckoUITooltip {
  @apply z-50 min-w-[0px] max-w-[320px] rounded-lg bg-surface-emphasis p-2 text-xs font-normal text-surface-primary;

  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
}

.GeckoUITooltip__arrow {
  @apply fill-surface-emphasis;
}
